@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {
  overflow-x; hidden;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: black;
  color: white;
}

h1 {
    margin-top: 10vh;
}